/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// END OF RESETS
// constants
:root {
  --color-primary-pale-blue: hsl(225, 100%, 94%);
  --color-primary-bright-blue: hsl(245, 75%, 52%);
  --color-neutral-very-pale-blue: hsl(225, 100%, 98%);
  --color-neutral-desaturated-blue: hsl(224, 23%, 55%);
  --color-neutral-dark-blue: hsl(223, 47%, 23%);
  --font500: 500;
  --font700: 700;
  --font900: 900;
  --font-size: 16px;
  --font-family: 'Red Hat Display', sans-serif;
  --display-desktop: 1440px;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  padding: 72px 25px;
  background-color: var(--color-primary-pale-blue);
  background-image: url(/images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  // background-position: center;
}

.container {
  margin: auto;
  max-width: 325px;


  img {
    border-radius: 20px 20px 0 0;
  }
}



.card {

  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px 30px 25px;
  box-shadow: 0px 15px 10px 0px rgba(0 0 0 / 0.05);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  h1 {
    margin-top: 30px;
    font-size: 135%;
    font-weight: var(--font900);
  }

  p {
    text-align: center;
    color: var(--color-neutral-desaturated-blue);
    margin-top: 15px;
  }

  .price {
    background-color: var(--color-neutral-very-pale-blue);
    display: flex;
    padding: 15px;
    border-radius: 10px;
    margin-top: 25px;
    align-items: center;
    font-size: 90%;

    .annual-plan {
      margin-left: 15px;

      .text {
        font-weight: var(--font900);
      }

      .numbers {
        color: var(--color-neutral-desaturated-blue);
      }
    }

    a {
      font-weight: var(--font700);
      // font-size: 80%;
    }
  }

  .cta {
    background-color: var(--color-primary-bright-blue);
    color: white;
    width: 100%;
    margin-top: 30px;
    padding: 15px 0;
    border-radius: 10px;
    font-weight: var(--font700);
    font-size: 93%;
    letter-spacing: 0.030em;
    box-shadow: 0px 25px 15px 0px hsla(245, 75%, 52% / 0.55);
    border: none;
  }

  .cancel-order {
    margin-top: 25px;
    color: var(--color-neutral-desaturated-blue);
    font-weight: var(--font900);
  }
}

@media (min-width: 376px) {
  body {
    background-image: url(/images/pattern-background-desktop.svg);
  }

  .cta:hover,
  .cancel-order:hover {
    cursor: pointer;
  }

  a:hover {
    color: var(--color-neutral-desaturated-blue);
  }

  .cta:hover {
    background-color: var(--color-neutral-desaturated-blue);
  }

  .cancel-order:hover {
    color: black;
  }
}